pagina de estadisticas

<p> hay <%= nP %> preguntas </p>
<p> hay <%= nC %> comentarios </p>
<p>hay de media <%= media %> comentarios por pregunta </p>
<P>hay <%= nPsC %> preguntas sin comentarios </P>
<p>hay <%= nPcC %> preguntas con comentarios </p>
